#parse("root1.vm")
            <dl>
                #foreach( $post in $posts )
                    <dt>
                        <a href="$post.path()">$post.title()</a> by $post.author(), $utils.renderDate($post.created())
                    </dt>
                    #if ( $post.descr() )
                        <dd>
                            $utils.renderDescr($post, $service)
                        </dd>
                    #end
                #end
            </dl>
#parse("root2.vm")