<!DOCTYPE html>
<html lang="$lang">
<head>
    #include("head.vm")
    <title>$title - $post.title()</title>
</head>
<body>
    #include("nav.vm")
    <div id="main">
        <h1>$post.title()</h1>
        $utils.renderPost($post, $service)
    </div>
    #include("footer.vm")
</body>
</html>